@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Varela+Round&display=swap');

html, body{
    overflow: hidden;
}

body{
    background-color: black;
    font-family: arial;
    color: #323232;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

.maindiv{
    width: max-content;
    margin: 120px auto;
    padding: 50px;
    background-color: rgb(0, 151, 151);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;
    gap: 5px;
}

h1{
    margin-top: 0;
    margin-bottom: 30px;
}

.maindiv > div {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    text-align: right;
    justify-content: left;
    margin-right: 10px;
    flex-wrap: wrap;
}

.maindiv label {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
    box-sizing: content-box;

}

.maindiv span {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#rate {
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number] {
    border: none;
    width: 50%;
    margin-right: 10px;
    background-color: #ffffff;
    background-blend-mode: darken;
    border-bottom: 2px solid #323232;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0px 10px;
    height: 100%;
}

input[type=range]{
    border: none;
    width: 50%;
    margin-right: 5px;
    outline: none;
    background: coral;
}

#compute_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#compute_btn button {
    box-sizing: content-box;
    padding: 10px 20px;
    border: none;
    background-color: #323232;
    color: azure;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 25px;
}

#interest {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 5px 0px 30px 0px;
    gap: 10px;
    flex-wrap: nowrap;
}

#interest label {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#result {
    width: 100%;
    height: 50px;
    font-size: 50px;
    text-align: center;
}

#expected_year, #interest_value {
    font-weight:600;
    font-size: 18px;
    margin-right: 4px;
}

.error_message {
    margin-top: 5px;
    font-size: 14px;
    color: red;
    width: 100%;
    text-align: center;
    visibility: hidden;
}